.filePickerWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.fileInput {
  flex: 1;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.openBtn {
  padding: 6px 12px;
  font-size: 14px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.openBtn:hover {
  background: #45a049;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* đảm bảo nổi trên cùng */
}

.modal {
  background: white;
  border-radius: 10px;
  width: 95%;      /* chiếm gần full màn hình ngang */
  max-width: 1200px; /* giới hạn max width */
  height: 90vh;    /* chiếm gần full màn hình dọc */
  overflow-y: auto;
  padding: 20px;
  z-index: 10000;
  position: relative;

}

.searchInput {
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.fileList {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.fileItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fileName {
  flex: 1;
}

.filePreview img,
.filePreview video {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.cancelBtn, .confirmBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.cancelBtn {
  background: #ccc;
  min-width: 80px;
}

.confirmBtn {
  background: #2196f3;
  color: white;
  min-width: 80px;
}

.confirmBtn:hover {
  background: #1976d2;
}

.cancelBtn:hover {
  background: #999;
}

.headerActions {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}